
.unknown { 
  color: white;
  background-color: #888888;
 }
.failed { 
  color: white;
  background-color: #ff0033;
 }
.error { 
  color: white;
  background-color: #ff0033;
 }
.warning { 
  color: black;
  background-color: #ffff00;
 }
.passed { 
  background-color: #66cc66;
 }

.skipped { 
  background-color: #001aff;
 }

tr td {
  background-color: rgb(234, 235, 255);
}
tr.alt td {
  background-color: rgb(211, 214, 255);
}

tr.dictErr  {   color: white; background-color: #ff0000; }
tr.compErr  {   color: black; background-color: #ff3300; }
tr.linkErr  {   color: black; background-color: #ff6600; }
tr.pyErr    {   color: black; background-color: #ffa500; }
tr.compWarn {   color: black; background-color: #ff6666; }
tr.dwnldErr {   color: black; background-color: #ff9999; }
tr.miscErr  {   color: black; background-color: #ff9999; }
tr.lcErr    {   color: black; background-color: #ff6666; }
tr.scErr    {   color: black; background-color: #ff6666; }
tr.scWarn   {   color: black; background-color: #ff9999; }
tr.ok       {   color: black; background-color: #32cd32; }
tr.skipped  {   color: black; background-color: #001aff; }

td.dictErr  {   color: white; background-color: #ff0000; }
td.compErr  {   color: black; background-color: #ff3300; }
td.linkErr  {   color: black; background-color: #ff6600; }
td.pyErr    {   color: black; background-color: #ffa500; }
td.compWarn {   color: black; background-color: #ff6666; }
td.dwnldErr {   color: black; background-color: #ff9999; }
td.miscErr  {   color: black; background-color: #ff9999; }
td.lcErr    {   color: black; background-color: #ff6666; }
td.scErr    {   color: black; background-color: #ff6666; }
td.scWarn   {   color: black; background-color: #ff9999; }
td.ok       {   color: black; background-color: #32cd32; }
td.skipped  {   color: black; background-color: #001aff; }

a {
  color: rgb(0, 12, 238)
}

tr {
  background-color: rgb(211, 214, 255);
}
